{% load static %}

<nav class="menu_lateral">
    <div class="btn_expandir">
        <i class="bi bi-list" id="btn_exp"></i>
    </div>

    <ul>
        
        <li class="item_menu">
            <a href="{% url 'blog' %}">
                <span class="icones"><i class="bi bi-columns-gap"></i></span>
                <span class="txt_link">CAD. PRODUTOS </span>
            </a>
        </li>
        
        <li class="item_menu">
            <a href="{% url 'controle_estoque' %}">
                <span class="icones"><i class="bi bi-database-gear"></i></span>
                <span class="txt_link">CONTOLE ESTOQUE</span>
            </a>
        </li>
        <li class="item_menu">
            <a href="{% url 'gestao_financeira' %}">
                <span class="icones"><i class="bi bi-coin"></i></span>
                <span class="txt_link">GESTÃO FINACEIRA </span>
            </a>
        </li>
        <li class="item_menu">
            <a href="{% url 'relatorio_vendas' %}">
                <span class="icones"><i class="bi bi-calendar-event-fill"></i> </span>
                <span class="txt_link">RELATORIO VENDAS</span>
            </a>
        </li>
        <li class="item_menu">
            <a href="{% url 'notificacoes' %}">
                <span class="icones"><i class="bi bi-chat-left-dots"></i> </span>
                <span class="txt_link"> NOTIFICAÇÃO DE VENDA</span>
            </a>
        </li>
        <li class="item_menu">
            <a href="{% url 'lista_funcionarios' %}">
                <span class="icones"><i class="bi bi-person-add"></i></span>
                <span class="txt_link">FUCIONARIOS</span>
            </a>
        </li>
        <li class="item_menu">
            <a href="{% url 'index' %}">
                <span class="icones"><i class="bi bi-box-arrow-left"></i></span>
                <span class="txt_link">SAIR </span>
            </a>
        </li>
    </ul>
</nav>


<script src="{% static 'pastaTs\js\menu.js' %}"></script>
<script src="{% static 'pastaTs\js\darkmode.js' %}"></script>