{% load static %}

<nav class="menu_lateral">
    <div class="btn_expandir">
        <i class="bi bi-list" id="btn_exp"></i>
    </div>

    <ul>
        
        <li class="item_menu">
            <a href="{% url 'blog' %}">
                <span class="icones"><i class="bi bi-columns-gap"></i></span>
                <span class="txt_link">CAD. PRODUTOS </span>
            </a>
        </li>
        <li class="item_menu">
            <a href="{% url 'pedidos_vendedor' %}">
                <span class="icones"><i class="bi bi-chat-left-dots"></i> </span>
                <span class="txt_link"> PEDIDOS</span>
            </a>
        </li>
       
        <li class="item_menu">
            <a href="{% url 'index' %}">
                <span class="icones"><i class="bi bi-box-arrow-left"></i></span>
                <span class="txt_link">SAIR </span>
            </a>
        </li>
    </ul>
</nav>


<script src="{% static 'pastaTs\js\menu.js' %}"></script>
<script src="{% static 'pastaTs\js\darkmode.js' %}"></script>