{% extends 'baseTS.html' %}

{% load static %}

{% block conteudo %}
       <div style="margin-left: 200px;">
            <p>
                {% if prod.imagem %}
                    <img src="{{prod.imagem.url}}" width="300px" heigth="200px">
                {% else %}
                    <img src="{% static 'img/sem_imagem.jpg' %}" width="200px" heigth="100px">
                {% endif %}
            </p>
            {{prod.nome}}
            <hr>
            <p>
                <a href="{% url 'produtos_list' %}" class="btn btn-secondary">Voltar</a>
            </p>
        </div>
{% endblock conteudo %}