<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    {% include 'modulosTS/head.html' %}
    
    
    {% comment %} <title>{% block title %}{% endblock title %}</title> {% endcomment %}

</head>

<body>

    {% include 'modulosTS/nav.html' %}
 
    {% block conteudo %}{% endblock conteudo %}
   
     <!-- ============================ SCRIPTS ==================================================-->    
    
        <script src="{% static 'pastaTs\js\darkmode.js' %}"></script>
    <!-- ============================ SCRIPTS ==================================================-->   

</body>
</html>