{% extends 'base.html' %}

<style>
    

    h2 {
        color: #007bff; /* Azul para o título */
    }

    .form-control, .form-control-file {
        border: 1px solid #ced4da; /* Borda cinza clara para os campos de entrada */
        border-radius: 0.25rem; /* Bordas arredondadas */
    }

    .form-control:focus {
        border-color: #007bff; /* Borda azul ao focar */
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra ao focar */
    }

    .btn-primary {
        background-color: #007bff; /* Azul para o botão */
        border: none; /* Remove a borda padrão */
    }

    .btn-primary:hover {
        background-color: #0056b3; /* Efeito hover mais escuro */
    }
</style>
{% block conteudo %}
<div class="container mt-5">
    
    <h2 class="text-center mb-4">Adicionar Novo produto</h2>
    {% if messages %}
        <div class="container mt-3">
            {% for msg in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ msg }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>

        <script>
            // Função para ocultar os alertas após um certo tempo
            setTimeout(function() {
                $('.alert').alert('close');
            }, 5000); // 5000 milissegundos = 5 segundos
        </script>
    {% endif %}


    <form method="POST" enctype="multipart/form-data" class="bg-white p-4 rounded shadow-sm">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="imagem">Imagem:</label>
            <input type="file" name="imagem" class="form-control-file">
        </div>

        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" class="form-control" minlength="10" required>
        </div>

        <div class="form-group">
            <label for="preco">Preço venda:</label>
            <input type="text" id="preco" name="preco" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="preco">Preço de custo:</label>
            <input type="text" id="preco" name="preco_comprado" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="descricao">Descrição:</label>
            <textarea style="resize: none;" cols="40" rows="5" name="descricao" class="form-control" required></textarea>
        </div>

        <div class="form-group">
            <label for="estoque">Quantidade:</label>
            <input type="number" id="estoque" name="estoque" class="form-control" required>
        </div>
        <div class="form-group"> 
                <label for="categoria">Categoria:</label>
                <input type="text" id="categoria" name="categoria" class="form-control" value="{{ prod.categoria }}" required>
        </div>

       
        <div class="text-center" style="margin-top: 20px;">
            <input class="btn btn-primary" type="submit" value="Adicionar Produto">
        </div>
    </form>
</div>
{% endblock conteudo %}