{% extends 'base.html' %}

<style>
    h2 {
        color: #007bff; /* Azul para o título */
    }

    .form-control, .form-control-file {
        border: 1px solid #ced4da; /* Borda cinza clara para os campos de entrada */
        border-radius: 0.25rem; /* Bordas arredondadas */
    }

    .form-control:focus {
        border-color: #007bff; /* Borda azul ao focar */
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra ao focar */
    }

    .btn-primary {
        background-color: #007bff; /* Azul para o botão */
        border: none; /* Remove a borda padrão */
    }

    .btn-primary:hover {
        background-color: #0056b3; /* Efeito hover mais escuro */
    }
</style>

{% block conteudo %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Adicionar Novo Funcionário</h2>
    <form method="POST" enctype="multipart/form-data" class="bg-white p-4 rounded shadow-sm">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="imagem">Imagem:</label>
            <input type="file" name="imagem" class="form-control-file">
        </div>

        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="sobrenome">Sobrenome:</label>
            <input type="text" id="sobrenome" name="sobrenome" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="telefone">Telefone:</label>
            <input type="tel" id="telefone" name="telefone" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="cargo">Cargo:</label>
            <input type="text" id="cargo" name="cargo" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="data_nascimento">Data de Nascimento:</label>
            <input type="date" id="data_nascimento" name="data_nascimento" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" name="endereco" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="rg">RG:</label>
            <input type="text" id="rg" name="rg" class="form-control" required>
        </div> 

        <div class="form-group">
            <label for="data_admissao">Data de Admissão:</label>
            <input type="date" id="data_admissao" name="data_admissao" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="data_pagamento">Data de Salario:</label>
            <input type="date" id="data_pagamento" name="data_pagamento" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="salario">Salário:</label>
            <input type="number" id="salario" name="salario" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="departamento">Departamento:</label>
            <input type="text" id="departamento" name="departamento" class="form-control" required >
        </div>
        <div class="form-group">
            <label for="departamento">status:</label>
            <input type="text" id="status" name="status" class="form-control" required >
        </div>
        <div class="form-group">
            <label for="departamento">senha:</label>
            <input type="password" id="senha" name="senha" class="form-control" required >
        </div>

            <div class="form-group">
                <label for="estado_civil">Estado Civil:</label>
                <select id="estado_civil" name="estado_civil" class="form-control" required>
                    <option value="solteiro">Solteiro</option>
                    <option value="namorando">Namorando</option>
                    <option value="casado">Casado</option>
                    <option value="divorciado">Divorciado</option>
                    <option value="viuvo">Viúvo</option>
                </select>
            </div>
    
            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Adicionar Funcionário">
            </div>
        </form>
    </div>
    {% endblock conteudo %}