{% extends 'base.html' %}

{% block title %}Edit Produto{% endblock title %}

<style>
    

    h2 {
        color: #007bff; /* Azul para o título */
    }

    .form-control, .form-control-file {
        border: 1px solid #ced4da; /* Borda cinza clara para os campos de entrada */
        border-radius: 0.25rem; /* Bordas arredondadas */
    }

    .form-control:focus {
        border-color: #007bff; /* Borda azul ao focar */
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra ao focar */
    }

    .btn-primary {
        background-color: #007bff; /* Azul para o botão */
        border: none; /* Remove a borda padrão */
    }

    .btn-primary:hover {
        background-color: #0056b3; /* Efeito hover mais escuro */
    }
</style>

<div style="margin-left: 200px;">
    {% block conteudo %}
    {% if messages %}
        <div class="container mt-3">
            {% for msg in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ msg }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>

        <script>
            // Função para ocultar os alertas após um certo tempo
            setTimeout(function() {
                $('.alert').alert('close');
            }, 4000); // 5000 milissegundos = 5 segundos
        </script>
    {% endif %}

    <div class="container mt-5" >
        <form method="POST" enctype="multipart/form-data" class="bg-white p-4 rounded shadow-sm">
            {% csrf_token %}

            <div class="form-group">
                <label for="imagem">Imagem:</label>
                {% if prod.imagem %}
                    <img src="{{ prod.imagem.url }}" alt="Imagem do Produto" style="max-width: 200px; margin-bottom: 10px;">
                {% endif %}
                <input type="file" name="imagem" class="form-control-file">
            </div>

            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" class="form-control" value="{{ prod.nome }}" required>
            </div>

            <div class="form-group">
                <label for="preco">Preço:</label>
                <input type="text" id="preco" name="preco" class="form-control" value="{{ prod.preco }}" required>
            </div>
            <div class="form-group">
                <label for="preco_comprado">Preço comprado:</label>
                <input type="text" id="preco_comprado" name="preco_comprado" class="form-control" value="{{ prod.preco_comprado }}" required>
            </div>

            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <textarea style="resize: none;" cols="40" rows="5" name="descricao" class="form-control" required>{{ prod.descricao }}</textarea>
            </div>

            <div class="form-group"> 
                <label for="estoque">Estoque:</label>
                <input type="number" id="estoque" name="estoque" class="form-control" value="{{ prod.estoque }}" required>
            </div>
            <div class="form-group"> 
                <label for="categoria">Categoria:</label>
                <input type="text" id="categoria" name="categoria" class="form-control" value="{{ prod.categoria }}" required>
            </div>

            <p>
                <input class="btn btn-primary" type="submit" value="Salvar">
                <a href="{% url 'blog' %}">
                    <input class="btn btn-secondary" type="button" value="Voltar"> 
                </a>      
            </p>
        </form>
    </div>
</div>
{% endblock conteudo %}