*{
    margin-top: 3px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
  }
  
  html::-webkit-scrollbar{
    width: 1px;
  }
  html::-webkit-scrollbar-track{
    background: transparent;
  }
  html::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 5rem;
  
  }
  
  
  
  body{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    position: absolute;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
 



/*---------- LEFT PRINCIPAL ---------------*/

.container{
    position: fixed;
    background-color: #0ca55b;
    backdrop-filter: blur(100px);
    border-radius: 20px;
    width: 1000px;
    height: 65%;  
    display: flex;

}



.letf_principal{
    color: #fff;
    width: 400px;
    display: flex;
    flex-direction: column;
}
.left_conteudo_1{
    gap: 30px;
    width: 300px;
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left_conteudo_2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin-left: 50px;
    margin-top: 100px;
    
}
.icon_contatos{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
/*-----------------------------------------*/

/*----------- RIGTH PRINCIPAL --------------*/

.rigth_principal{
    color: #fff;
    width: 450px;
    height: 400px;
    margin-left: 75px;
    margin-top: 40px;
}
.rigth_principal input{
    width: 450px;
    height: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.rigth_principal .mensagem{
    width: 450px;
    height: 100px;
    margin-top: 20px;
    
}
.rigth_principal button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(60, 255, 0) ;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
.rigth_principal button:hover{
    box-shadow: 0px 0px 8px rgb(60, 255, 0) ;
    transition: 0.2s;
}

::placeholder{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

.left_conteudo_2 a{
    width: 20px;
    height: 20px;
    color: rgb(60, 255, 0) ;
}




