
/*========================================== CONFIGURAÇÃO BASICA DA PAGINA =======================================================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
html::-webkit-scrollbar{
  width: 1px;
}
html::-webkit-scrollbar-track{
  background: transparent;
}
html::-webkit-scrollbar-thumb{
  background-color: #fff;
  border-radius: 5rem;

}
body{
  height: 100vh;
  width: 100%;

  overflow-x: hidden;
  position: absolute;
  background-color: #fff;

}
/*========================================== FINAL DA CONFIGURAÇÃO BASICA DA PAGINA =======================================================*/
.navegacao-produtos {
display: flex;
justify-content: center;
margin: 20px 0;
}

.btn-navegacao {
background-color: #007bff; /* Cor de fundo azul */
color: white; /* Cor do texto */
border: none; /* Sem borda */
border-radius: 5px; /* Bordas arredondadas */
padding: 10px 20px; /* Espaçamento interno */
font-size: 16px; /* Tamanho da fonte */
cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
transition: background-color 0.3s; /* Transição suave para a cor de fundo */
margin: 0 10px; /* Margem entre os botões */
}

.btn-navegacao:hover {
background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}






/*========================================== MENU =======================================================*/
nav.menu_lateral {
width: 70px;
height: 100%;
background-color: #ffffff;
padding: 40px 0 40px 1%;
box-shadow: 3px 0 0  #0ca55b;
position: fixed;
top: 0;
left: 0;
overflow: hidden;
transition: .5s;
z-index: 3;
}

nav.menu_lateral.expandir{
width: 280px;
}

.btn_expandir{
width: 100%;
padding-left: 05px;
}
.btn_expandir > i{
color:  rgb(0, 0, 0);
font-size: 24px;
cursor: pointer;

}


ul{
height: 100%;
list-style-type: none;     

}
ul li.item_menu{
transition: .8s ;

}

ul li.ativo{
background-color: #0ca55b ;
}


ul li.item_menu:hover{
background-color:#0ca55b;
border-radius: 50px;    


}
ul li.item_menu a{
height: 55px;
color: #000000;
text-decoration: none;
font-size: 20px;
padding: 10px 2%;
display: flex;
margin-bottom:  20px;   
line-height: 40px;
border-radius: 50px ;
}
ul li.item_menu a .txt_link{
margin-left: 70px;
transition: 1s;
opacity: 0;
}
nav.menu_lateral.expandir .txt_link{
margin-left: 20px;
opacity: 1;

}

ul li.item_menu a .icones > i{
font: 30px;
margin-left: 15px;
}

ul li ul.dropdown li{
display: block;
display: flex;
justify-content: center;
margin-top: 15px;
transition:  1s ;

}

ul li ul.dropdown{
width: 60px;
height: 90px;
position: absolute;
z-index: 9;
display: none;
transition:  1s;

}

nav.menu_lateral.expandir ul li ul.dropdown {
width: 264px;
height: 40px;
margin-left: 80px;
}
ul li a:hover{
background-color: #0ca55b;
}
ul li:hover ul.dropdown{
display: block;
}

.btn-container{
margin-left: 8px;

}
/*========================================== FINAL MENU =======================================================*/



/*==========================================  DARK MODE =======================================================*/
body {
  transition: background-color 0.3s, color 0.3s;
}
.menu_lateral {
  transition: background-color 0.3s, color 0.3s;
}
.dark-mode body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.dark-mode .menu_lateral {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.dark-mode ul li.item_menu a{
  color: #ffffff;
}
.dark-mode .btn_expandir > i{
  color: #0ca55b;
}
.dark-mode .title_categoria{
    color: #ffd;
}
body.dark-mode {
  background-color: #000000;
  color: #ffffff;
}
.dark-mode .bi-chevron-right {
  color: #fff;
}
.dark-mode .bi-chevron-left {
  color: #fff;
}
.bi-search{
  color: #000000;
}
.dark-mode .theme{
  border: 2px solid #fff;
}
.dark-mode .icon.icon-moon{
  fill: #fff;
}
.dark-mode .itens_produtos{
  color: #000000;
}


/*========================================== FINAL DARK MODE =======================================================*/

/* Estilo do contêiner de produtos */
.container {
  width: 88.5%; /* Largura do contêiner */
  display: flex; /* Usar flexbox para alinhar os produtos */
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap; /* Permitir que os itens quebrem para a próxima linha */
  margin: auto;
  background-color: transparent;
}

/* Estilo de cada produto */
.itens_produtos {
  width: 250px;
  height: 330px; /* Altura automática para manter a proporção */
  display: flex; /* Usar flexbox para alinhar itens dentro do produto */
  flex-direction: column; /* Alinhar itens verticalmente */
  align-items: center;
  background-color: rgb(255, 255, 255); /* Cor de fundo do produto */
  border: 1px solid #ddd; /* Borda leve */
  border-radius: 5px; /* Bordas arredondadas */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
  margin: 10px; /* Espaçamento entre produtos */
  padding: 15px; /* Espaçamento interno */
  text-align: center; /* Centralizar texto */
  box-sizing: border-box; /* Incluir padding e border na largura total */
  color: #000000;
}

/* Ajuste o tamanho da imagem */
.fotos_produtos {
  max-width: 100%; /* A imagem não deve ultrapassar a largura do contêiner */
  height: auto; /* Manter a proporção da imagem */
}

.add_btn_carrinho{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: 250px;

}
/* Estilo do botão de adicionar ao carrinho */
.add_carinho {
  width: 130px;
  background-color: #28a745; /* Cor de fundo verde */
  color: white; /* Cor do texto */
  border: none; /* Remover borda */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  position: absolute; /* Espaçamento acima do botão */
  margin-top: 20px;

}

/* Efeitos ao passar o mouse sobre o botão */
.add_carinho:hover {
  background-color: #218838; /* Cor de fundo mais escura ao passar o mouse */
}

/*========================================= BARRA TOP DA PAGINA ======================================================*/
.pesquisar{
    width: 100%; /* A largura ocupa 100% do container */
    height: 150px; /* Altura fixa de 150px */
    gap: 10px; /* Espaço entre os elementos */
    background-color: #0ca55b; /* Cor de fundo verde */
    display: flex; /* Usa Flexbox para alinhar os elementos */
    align-items: center; /* Alinha os itens no centro verticalmente */
    justify-content: space-between; /* Espaçamento entre os elementos */
      
    
}
#input_pesquisar{
  margin-left: 450px;
  margin-right: auto;
  margin-top: 30px;
}
.pesquisar_filho {
    max-width: 87%;
    display: flex; /* Flexbox para alinhar o input e outros elementos */
    align-items: center; /* Centraliza verticalmente */
    margin: 0 auto; /* Centraliza horizontalmente */
    flex: 1; /* Permite que este item cresça para ocupar espaço disponível */
    margin-right: 70px;
}
.pesquisar_filho input {
  width: 500px; /* O input ocupa toda a largura disponível */
  max-width: auto;
  height: 50px; /* Altura fixa do input */
  border-radius: 20px; /* Bordas arredondadas */
  padding: 0 15px; /* Espaçamento interno à esquerda e direita */
  margin-right: auto;
}

.btn_carrinho_prod{
  margin-top: 20px;
  margin-right: 40px;
  font-size: 25px;
}


/*============== ESTILIZAÇÃO DO PLACEHOLDER PARA NAVEGADORES MODERNOS =============== */

#input_pesquisar::placeholder {
  color: rgb(0, 0, 0); 
  font-size: 17px; 
  opacity: 1; 

}
/*=======  FINAL DA ESTILIZAÇÃO DO PLACEHOLDER PARA NAVEGADORES MODERNOS =============*/
.logo{
  height: 100px;
  display: flex;
  position: absolute; 
  margin-left: 25px;  
 
}
.img_logo{
  width: 200px;
  height: 200px;
  display: flex;
  margin-top: -60px;  
}
.logo h1{
  font-size: 50px;
  display: flex;
  margin-top: 20px;
  margin-right: 49px;
  margin-left: -30px;
  color:  #000000;
  
}

.conteudo_msg{
  z-index: 1;
  background-color: #fff;

}


.pesquisar_filho input{
    width: 700px;
    height: 50px;
    display: flex;
    gap: 20px;
    border-radius: 20px;
}

.btn_carrinho_prod{
  margin-top: 25px;
  font-size: 28px;

}
.btn_carrinho_prod a {
  color: #000000; /* Cor do ícone do carrinho */
  text-decoration: none; /* Remove o sublinhado do link */
 
}

.btn_carrinho_prod a:hover {
  color: #ffffff; /* Cor do ícone ao passar o mouse */
}

/*========================================= BARRA TOP DA PAGINA ======================================================*/


/* ==================================== PARTE DOS PRODUTOS =========================================================== */
/*==================== CONFIGURAÇÃO DO CONTANER ======================================= */
    


/*============== CONFIGURAÇÃO DA SCROOLBAR DA PAGINA DOS PRODUTOS  ================== */
    ::-webkit-scrollbar  {
        background: transparent;
        height: 0px;
        width: 0px;
        /* border-top-right-radius: 1px ;
        border-bottom-lefat-radius: 5px; */
    }
    ::-webkit-scrollbar-thumb{
        background-color: #554242;
        border-radius: 5px;
    }
/*============== FINAL DA CONFIGURAÇÃO DA SCROOLBAR DA PAGINA DOS PRODUTOS  ================== */

/*======= FINAL DA CENTRALIZACÃO DO PRODUTO DENTRO DO CONTANER ========= */

/* =================== EXPANSÃO DE DOIS CLIQUE =========================== */
    .produto.expanded {
      transform: scale(2); /* Ajuste o fator de escala conforme necessário */
      z-index: 10; /* Garante que o produto expandido esteja acima dos outros */
      position: fixed; /* Faz o produto ficar fixo na tela */
      top: 50%; /* Centraliza verticalmente na tela */
      left: 50%; /* Centraliza horizontalmente na tela */
      transform: translate(-50%, -50%) scale(2); /* Centraliza e aplica a escala */
      width: 600px; /* Ajuste conforme necessário */
      height: 40%; /* Ajuste conforme necessário */

    }
    .produto.expanded h2{
      width: 290px;
      height: auto;
      font-size: 20px;
      margin-left: 600px;
      margin-top: -230px;
      
    }
    .produto.expanded .add_carinho{
      width: 150px;
      height: 40px;
      margin-left: 60px;
      margin-top: -80px;
      position: relative;

    
    
    }
    .produto.expanded .preco_produtos{

      margin-left: 650px;
      width: 200px;
      margin-top: 20px;
    }
    
    .produto.expanded details{
      margin-left: 590px;
      width: 200px;
      margin-top: 20px;
    }
    .produto.expanded img{
      width: 250px;
      height: 250px;
      margin-left: 50px;
    }
    .produto.expanded .disponibilidade{
      margin-left: 630px;
      margin-top: 20px;
      width: 300px;
    }
    
/* =================== FINAL DA EXPANSÃO DE DOIS CLIQUE =========================== */

/* ===================== PRODUTOS DENTRO DO CONTANER =============================== */
    .fotos_produtos{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        
    }
    .produto h2 {
        color: #000000;
        margin-left: 10px;
        font-size: 15px;
        margin-bottom: 5px;
        margin-right: 10px;
        width: 170px;

    }   
      /*======================= FINAL DOBOTAO DE "MAIS INFORMAÇÃO" ======================== */
    .produto p {
        margin-right: 10px;
        margin-bottom: auto;
        font-size: 0.8em;  
        color: #000000;
    }

/* ===================== FINAL DO PRODUTOS DENTRO DO CONTANER ========================== */


