{% extends 'baseTS.html' %}

{% load static %}

{% block conteudo %}


<header>
    <!-- ============================ BARRA TOP ==================================================-->
    <div class="barra_top"> 

        <div class="pesquisar_filho">
            <nav class="logo">

                <!-- FOTO E TITULO LOGO -->
                <img class="img_logo" src="/fotos/image_fx___2_-removebg-preview.png" alt="logo">
                <div>
                    <h1 class="nome_logo">RAÇÕES</h1>
                </div>
                <!-- FINAL DA FOTO E TITULO LOGO -->


                <!-- BTN CARRINHO -->
                <div class="btn_carrinho">                    
                    <a href="carrinho.html">
                        <i class="bi bi-cart"></i>
                    </a>
                </div>
                <!-- FINAL BTN CARRINHO -->
            </nav> 
        </div>
    </div>
    <!-- ============================ FINAL BARRA TOP ==================================================-->
</header>

<div class="bola"></div>


<!-- ============================ CONTEUDO PRINCIPAL ==================================================-->
<div class="container">
    <div class="conteudo_principal">
        <h1 class="titulo_conteudo_principal">A força e a elegância vêm do cuidado. <span class="text_mudar_cor">TS RAÇÕES</span></h1>

        <h2>Você encontra rações e arreios que garantem o melhor para seu companheiro!</h2>

        <a href="/pages/prodrutos.html">
            <button type="submit" value="COMPRAR ">COMPRAR</button>
        </a>
    </div>
</div> 
<!-- ============================ CONTEUDO PRINCIPAL =======================================================-->

<!-- ============================ FOTO CONTEUDO PRINCIPAL ==================================================-->
<div class="foto_cavalo_inicio">
    <img src="/fotos/depositphotos_140115380-stock-photo-group-of-cute-pets (1).png" alt="">
</div>
<!-- ============================ FINAL FOTO CONTEUDO PRINCIPAL ==================================================-->

<div class="bola2"></div>

<!-- =============================== COMECO DOS SLIDES =============================================== -->
<div class="slider">
    <div class="slides">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">
        <input type="radio" name="radio-btn" id="radio5">
        <input type="radio" name="radio-btn" id="radio6">
     

        <!-- slides img -->
        <div class="slide first" >
            <img src="/fotos/fotos_loja/Imagem do WhatsApp de 2024-08-29 à(s) 08.20.33_7fe35222.jpg" alt="image 1">
        </div>
        <div class="slide">
            <img src="/fotos/fotos_loja/Imagem do WhatsApp de 2024-08-29 à(s) 08.20.33_a56a8531.jpg" alt="image 2">
        </div>
        <div class="slide">
            <img src="/fotos/fotos_loja/Imagem do WhatsApp de 2024-08-29 à(s) 08.20.35_17190ec7.jpg" alt="image 3">
        </div>
        <div class="slide">
            <img src="/fotos/fotos_loja/Imagem do WhatsApp de 2024-08-29 à(s) 08.20.35_b3c5467b.jpg" alt="image 4">
        </div>
        <div class="slide">
            <img src="/fotos/fotos_loja/Imagem do WhatsApp de 2024-08-29 à(s) 08.20.36_07b048ef.jpg" alt="image 5">
        </div>
        <div class="slide">
            <img src="/fotos/fotos_loja/Imagem do WhatsApp de 2024-08-29 à(s) 08.20.36_8f756f7d.jpg" alt="image 6">
        </div>
        
        <!-- final slides img -->

        <!-- radio btn -->
        <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
            <div class="auto-btn4"></div>
            <div class="auto-btn5"></div>
            <div class="auto-btn6"></div>
         
        </div>
        <!-- final radio btn -->

    

    </div>
</div>
<!-- =============================== FINAL SLIDES =============================================== -->
   
<!-- =============================== FINAL DOS SLIDES =============================================== -->

<div class="conteudo_pricipal2">
    <h1>Bem-vindo à TS Rações!</h1>
    <p>Na TS Rações, somos apaixonados por cavalos e dedicados a oferecer rações, suplementos e acessórios de alta qualidade para o bem-estar dos seus animais. Localizados no coração da comunidade, trabalhamos com marcas renomadas para garantir produtos que atendem aos mais altos padrões.</p> <br>

    <p>Nosso compromisso é proporcionar um atendimento personalizado e especializado, ajudando você a encontrar exatamente o que precisa. Venha nos visitar e descubra como podemos cuidar dos seus cavalos com excelência.</p>

</div> 

 <h1 class="p_sobre_a_loja"> NOSSOS PRODUTOS</h1>
 <div class="exposicao_produtos">
    <div class="exposicao_produtosdentro">
        <div class="itens_produtos">
            <img class="fotos_produtos" src="https://images.tcdn.com.br/img/img_prod/631369/sela_de_adestramento_patricia_premium_587_1_20190110162634.jpg" alt="Produto">
            <h2 class="nome_produto"><strong>SELAS</strong></h2>
        </div>
   </div>
    <div class="exposicao_produtosdentro">
        <div class="itens_produtos">
        <img class="fotos_produtos" src="https://tse1.mm.bing.net/th?id=OIP.4dX-DwKiKD04xgV6u4JzEAHaHa&pid=Api" alt="Produto2">
        <h2 class="nome_produto"><strong>BOTAS</strong></h2>
    </div></div>
    <div class="exposicao_produtosdentro"> <div class="itens_produtos">
        <img class="fotos_produtos" src="https://http2.mlstatic.com/D_NQ_NP_730934-MLU76266343047_052024-O.webp" alt="Produto3">
        <h2 class="nome_produto"><strong>RACÕES</strong></h2>
    </div></div>
    <div class="exposicao_produtosdentro"><div class="itens_produtos">
        <img class="fotos_produtos" src="https://http2.mlstatic.com/D_NQ_NP_703402-MLB76158451272_052024-O.webp" alt="Produto">
        <h2 class="nome_produto"><strong>Suplemetações</strong></h2>
    </div></div>
</div> 



<!-- RODAPÉ -->
<footer>
<h1 class="titulo_footer">TS RAÇÕES</h1>
<div class="pai">
    <div class="filhos">
        <h1>Sobre nós</h1>
        <a href="/pages/index.html">Informações da Empresa</a>
        <a href="/pages/contatos.html">Contato</a>
        <a href="#">blog</a>
    </div>
    <div class="filhos">
        <h1>Inicio</h1>
        <a href="/pages/index.html">Home</a>
        <a href="/pages/prodrutos.html">Produtos</a>
        <a href="/pages/carrinho.html">carrinho</a>
    </div>
    <div class="filhos">
        <h1>Suporte</h1>
        <a href="/pages/contatos.html">FAQ</a>
        <a href="#">Suporte</a>
    </div>
    <div class="filhos">
        <h1>Redes Sociais</h1>
        <a href="#"><i class="bi bi-facebook"></i> Facebook</a>
        <a href="#"><i class="bi bi-whatsapp"></i> Whatsapp</a>
        <a href="#"><i class="bi bi-youtube"></i> youtube</a>
        <a href="#"><i class="bi bi-twitter-x"></i> Twitter</a>

    </div>
</div>
<p>© 2024 TS RAÇÕES - Todos os direitos reservados.</p>
</footer>

<script src="/js/slider.js"></script>
{% endblock conteudo %}
